@{
    ViewBag.Title = "GetChallengesByClientId";
    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";
    string dispPrint = "";
}
<div class="page-header">   
    <ol class="breadcrumb pull-right">
        <li><a href="/Dashboard/Admin"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
        @if (@ViewBag.agent != null)
        {
            <li><a href="/Dashboard/AgentClients?agent=@ViewBag.agent&name=@ViewBag.PrimaryUser">&nbsp;Clients</a></li>
        }

        <li class="active">&nbsp;View Challenges</li>

    </ol>
</div>


<div style="padding-top:20px;">
    <div class="portlet portlet-boxed">
        <div class="portlet-header">
            <h4 class="portlet-title">
                View Challenges
            </h4>


        </div> <!-- /.portlet-header -->
        <div class="portlet-body">
            <div class="row" style="padding:20px 10px 10px 20px;">
                <div class="row">
                    <div class="col-md-6" style="padding-bottom:10px;">
                        @if (ViewBag.creditreportfile != null && ViewBag.creditreportfile.Count > 0)
                        {
                            <strong> Client: @ViewBag.creditreportfile[0].ClientName</strong>
                        }

                    </div>
                </div>                
               
                <div class="row m-2 p-2">
                    <div class="table-responsive">
                        <table id="tblChallenge" class="table table-bordered">
                            <thead>
                                <tr class="trTable">                                 
                                    <th>Round Type</th>
                                    <th>File Name</th>
                                    <th @dispPrint>Actions</th>
                                </tr>
                            </thead>
                            @{
                                string path = string.Empty;
                            }
                            @if (ViewBag.creditreportfile != null && ViewBag.creditreportfile.Count > 0)
                            {
                                <tbody>
                                    @{
                                        int i = 0;
                                    }

                                    @foreach (var item in ViewBag.creditreportfile)
                                    {
                                        //if (item.RoundType == "First Round")
                                        //{
                                        <tr>

                                            <td>@item.RoundType</td>
                                            <td>@item.CAgency - @item.RoundType</td>

                                            @{
                                                string file = item.CRFilename;

                                                path = file.Replace(" ", "");
                                            }

                                            <td @dispPrint>
                                                @if (item.isManual == 1)
                                                {
                                                    <a href="~/documents/Challenge/@path" target="_blank" class="btn btn-danger btn-xs"> Print</a>
                                                    @*if (item.isMoved == 0)
                                                        {
                                                            <a id="btnCRG" onclick="crgPrint('@path');" class="btn btn-danger btn-xs"> CRG Printing</a>
                                                        }*@
                                                }


                                            </td>

                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            }
                            else
                            {
                                <td colspan="3" style="text-align:center"><strong> No Challenges </strong></td>
                            }

                        </table>
                    </div>
                </div>
                @if (ViewBag.ManualChallenges != null)
                {
                    string mChallenges = @ViewBag.ManualChallenges;
                    <div class="row ">
                        <div class="col-md-12">
                            <p>
                                To print and mail the challenge letters, click on the [Print] buttons above. If you choose to use CRG Printing service, please
                                <a id="btnCRG" onclick="crgPrint('@mChallenges');" class="btn btn-danger btn-xs"> Click here</a>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
