
@{
    ViewBag.Title = "Challenge Orders";
    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";
}
<div class="page-header">
    <ol class="breadcrumb pull-right">
        <li><a href="@ViewBag.Dashboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
        <li active">Challenge Orders </li>
    </ol>
</div>

<div style="padding-top:20px;">
    <div class="portlet portlet-boxed">
        <div class="portlet-header">
            <h4 class="portlet-title">
                Challenge Orders
            </h4>
        </div> <!-- /.portlet-header -->
        <div class="portlet-body">
            <div class="row" style="padding:20px 10px 10px 20px;">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="tblCOrders" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Order Id</th>
                                    <th>Order Name</th>
                                    <th>Challenge FileName</th>
                                    <th>Order Status</th>
                                    <th>Order Date</th>
                                    @*<th>Status</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var corders in ViewBag.COrders)
                                {
                                    <tr>
                                        <td>@corders.OrderId </td>
                                        <td>@corders.OrderName</td>
                                        <td>@corders.ChallengeFileName </td>
                                        <td>@corders.OrderStatus</td>
                                        <td>@corders.OrderDate </td>
                                        @*<td>@corders.Status</td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
         $("#tblCOrders").DataTable({
            "pagingType": "simple",
             "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "dom": "<'row'<'col-md-3'l><'col-md-4 col-md-offset-1'B><'col-md-3 pull-right'f>>" +
                "<'row'<'col-md-6'><'col-md-6'>>" +
                "<'row'<'col-md-12't>>" +
                "<'row'<'col-md-4'i><'col-md-8 pull-right'p>>",
            //  "buttons": ['csv', 'pdf', 'print'],
            "buttons": [
                'csv',
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                }
            ]
        });
    });
</script>