
@{
    ViewBag.Title = "Assign Staff";
    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";
}

<div class="page-header">
    @*<h3 class="page-title">Letter </h3>*@
    <ol class="breadcrumb pull-right">
        <li><a href="@ViewBag.Dasboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
        <li active">@ViewBag.Title </li>
    </ol>
</div>


@*<ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="@ViewBag.Dasboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
        <li class="breadcrumb-item active">Assign Staff</li>
    </ol>
    <title>Assign Staff</title>*@


<div style="padding-top:20px;">
    <div class="portlet portlet-boxed">
        <div class="portlet-header">
            <h4 class="portlet-title">
                @ViewBag.Title
            </h4>
        </div> <!-- /.portlet-header -->
        <div class="portlet-body">
            <div class="row" style="padding:20px 20px 0px 0px;">
                <div class="pull-right">
                    @*<a class="btn btn-secondary btn-sm">Add Staff</a>*@
                    <button id="btnAssignStaff" class="btn btn-primary">Assign Staff</button>
                </div>
            </div>

            <div class="row" style="padding:20px;">

                <div class="table-responsive">
                    <table id="AssignStaff" class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="10%" style="text-align:center;">Select</th>
                                <th width="30%">Client Name</th>
                                <th width="30%">DOB</th>
                                <th width="30%">Staff</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Clients)
                            {
                                <tr>

                                    <td style="text-align:center;">
                                        <input type="checkbox" id="ChkAssignstaff" name="Assignstaff" />
                                    </td>
                                    <td>@item.Name</td>
                                    <td>@item.DBirth</td>
                                    <td class="dropdown">
                                        <select class="form-control" style="width:250px">
                                            <option value="0" id="staff">Select Staff</option>
                                            @foreach (var i in ViewBag.staff)
                                            {
                                                if (@item.AgentStaffId == @i.AgentStaffId)
                                                {
                                                    <option selected value="@i.AgentStaffId">@i.UserName</option>
                                                }
                                                else
                                                {
                                                    <option value="@i.AgentStaffId">@i.UserName</option>
                                                }

                                            }
                                        </select>
                                    </td>
                                    <td class="hidden">
                                        @item.ClientId
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>



<script>

    $("#btnAssignStaff").on('click', function () {
        debugger;
        var check = $('#ChkAssignstaff:checked').val();
        var values = new Array();


        if (check == undefined) {
            Swal.fire("Warning!", "Please select atleast one CheckBox!", 'warning');
            return;
        }
        var cnt = 0;
        $("#ChkAssignstaff:checked").each(function (i) {

            debugger;
            var data = $(this).parents('tr:eq(0)');
            var staff = $(data).find('td:eq(3) option:selected').val();
            if (staff == 0) {
                cnt = 1;
            }
            else {
                values.push({
                    'Username': $(data).find('td:eq(1)').text(),
                    'DoB': $(data).find('td:eq(2)').text(),
                    'Staff': $(data).find('td:eq(3) option:selected').val(),
                    'ClientId': $(data).find('td:eq(4)').text(),
                });
            }

        });    

        if (cnt == 1) {
            Swal.fire("Warning!", "Please select staff!", 'warning');         
            return;
        }
        else {
            $.ajax({
                method: "POST",
                url: "/Agent/AddAssignStaff",
                data: { client: values },
                dataType: "json",
                success: function (data) {
                    if (data == true) {                       
                        Swal.fire({
                            title: "Success!",
                            text: "Staff assigned successfully.",
                            type: 'success',

                        }).then(function () {
                            window.location.href = "/Agent/AssignStaff";
                        })
                    }
                }
            });
        }
    });

</script>
