
@{
    ViewBag.Title = "Challenges";
    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";

    string dispPrint = ""; // "hidden";
    //string dispPrint = "";
}

<title>Challenges</title>

<div class="page-header">
    @*<h3 class="page-title">Letter </h3>*@
    <ol class="breadcrumb pull-right">
        <li><a href="@ViewBag.Dasboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
        <li active">Challenges </li>
    </ol>
</div>

<div style="padding-top:20px;">
    <div class="portlet portlet-boxed">
        <div class="portlet-header">
            <h4 class="portlet-title">
                Challenges
            </h4>


        </div> <!-- /.portlet-header -->
        <div class="portlet-body">
            <div class="row" style="padding:20px 10px 10px 20px;">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.creditreportfile != null && ViewBag.creditreportfile.Count > 0)
                        {
                            <strong> Client: @ViewBag.creditreportfile[0].ClientName</strong>
                        }

                    </div>
                </div>
                <br />
                <h2>Account History</h2>
                <div class="row m-2 p-2">
                    <div class="table-responsive">
                        <table id="tblChallenge" class="table table-bordered">
                            <thead>
                                <tr class="trTable">
                                    @*<th>Client </th>*@
                                    <th>Round Type</th>
                                    <th>File Name</th>
                                    <th @dispPrint>Actions</th>
                                </tr>
                            </thead>
                            @{
                                string path = string.Empty;
                            }
                            @if (ViewBag.creditreportfile != null && ViewBag.creditreportfile.Count > 0)
                            {
                                <tbody>
                                    @{
                                        int i = 0;
                                    }

                                    @foreach (var item in ViewBag.creditreportfile)
                                    {
                                        //if (item.RoundType == "First Round")
                                        //{
                                        <tr>

                                            <td>@item.RoundType</td>
                                            <td>@item.CAgency - @item.RoundType</td>

                                            @{
                                                string file = item.CRFilename;

                                                path = file.Replace(" ", "");
                                            }

                                            <td @dispPrint>
                                                @if (item.isAutoChallenges == 0)
                                                {
                                                    <a href="~/documents/Challenge/@path" target="_blank" class="btn btn-danger btn-xs"> Print</a>
                                                }

                                                <a href="~/documents/Challenge/@path" target="_blank" class="btn btn-danger btn-xs"> Print</a>
                                            </td>

                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            }
                            else
                            {
                                <td colspan="3" style="text-align:center"><strong> No Challenges </strong></td>
                            }

                        </table>
                    </div>
                </div>
                <br />
                @if (ViewBag.creditreportfileInq != null)
                {
                    <h2> Inquires </h2>
                    <div class="row m-2 p-2">
                        <div class="table-responsive">
                            <table id="tblChallengeINQ" class="table table-bordered">
                                <thead>
                                    <tr class="trTable">
                                        @*<th>Client </th>*@
                                        <th>Round Type</th>
                                        <th>File Name</th>
                                        <th @dispPrint>Actions</th>
                                    </tr>
                                </thead>
                                @{
                                    string path1 = string.Empty;
                                }
                                @if (ViewBag.creditreportfileInq != null && ViewBag.creditreportfileInq.Count > 0)
                                {
                                    <tbody>
                                        @{
                                            int i = 0;
                                        }

                                        @foreach (var item in ViewBag.creditreportfileInq)
                                        {
                                            <tr>

                                            <td> @item.RoundType </td>
                                            <td> @item.CAgency - @item.RoundType </td>

                                            @{
                                                string file = item.CRFilename;

                                                path1 = file.Replace(" ", "");
                                            }

                                            <td @dispPrint >
                                            @if (item.isAutoChallenges == 0)
                                            {
                                                <a href = "~/documents/Challenge/@path1" target = "_blank" class="btn btn-danger btn-xs"> Print</a>
                                            }
                                            <a href="~/documents/Challenge/@path1" target="_blank" class="btn btn-danger btn-xs"> Print</a>
                                            </td>

                                            </tr>
                                            i++;

                                        }
                                    </tbody>
                                }
                                else
                                {
                                    <td colspan="3" style="text-align:center"><strong> No Challenges for Inquires </strong></td>
                                }

                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

