@{
    ViewBag.Title = "Add Billing Type";
    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";
}
<style>
    .form-group {
        margin-bottom:10px;
    }
</style>
<div class="page-header">
    @*<h3 class="page-title">Letter </h3>*@
    <ol class="breadcrumb pull-right">
        <li><a href="@ViewBag.Dasboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
        <li class="active"><a href="/Agent/BillingList"><i class="fa fa-user"></i>&nbsp;Manage Billing Types</a></li>
        @{
            if (Request != null)
            {
                if (Request.QueryString["Mode"] == "Edit")
                {
                    <li class="active">Edit Billing Type</li>
                }
                else
                {
                    <li class="active">Add Billing Type</li>
                }
            }

        }
    </ol>
</div>


@*<ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="@ViewBag.Dasboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Agent/BillingList"><i class="fa fa-user"></i>&nbsp;Manage Billing Types</a></li>
        @{
            if (Request != null)
            {
                if (Request.QueryString["Mode"] == "Edit")
                {
                    <li class="breadcrumb-item active">Edit Billing Type</li>
                }
                else
                {
                    <li class="breadcrumb-item active">Add Billing Type</li>
                }
            }

        }

    </ol>*@

<div style="padding-top:20px;">
    <div class="portlet portlet-boxed">
        <div class="portlet-header">

            @if (Request.QueryString["Mode"] == "Edit")
            {
                <h4 class="portlet-title">Update Billing Type</h4>
            }
            else
            {
                <h4 class="portlet-title">Add Billing Type</h4>
            }
          
        </div> <!-- /.portlet-header -->
        <div class="portlet-body">
            <div class="row" style="padding:20px 10px 10px 20px;">                
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Billing Type <span style="color:red">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="BillingType" maxlength="50" placeholder="Billing Type" id="txtBillingType" required>
                                    <input type="hidden" name="AgentBillingId" id="txtAgentBillingId" />
                                    <input type="hidden" name="AgentId" id="txtAgentId" />
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Card Type <span>*</span></label>
                                </div>
                                @{
                                    List<string> cardTypes = new List<string>();
                                    cardTypes.Add("VISA");
                                    cardTypes.Add("Capital One");
                                    cardTypes.Add("Mastercard");
                                }
                                <div class="col-sm-4">
                                    <select id="txtCardType" name="CardType" class="form-control" required>
                                        <option value=""> Select Option</option>
                                        @foreach (var item in cardTypes)
                                        {
                                            if (item != "")
                                            {
                                                <option value="@item">@item</option>
                                            }
                                            else
                                            {
                                                <option value=""> Select Option</option>
                                            }

                                        }
                                    </select>
                                    <div id="Msg_CardType" class="text-danger">
                                    </div>
                                </div>
                            </div>
                        </div>
                       

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>
                                        Card Number
                                        <span style="color:red">*</span>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" maxlength="20" placeholder="Card Number" name="CardNumber" id="txtCardNumber" required>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Expiration Date <span style="color:red">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="form-control" id="txtExpiryMonth" required>
                                                <option selected="selected" value="">Month</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                            @*<input type="text" class="form-control" onkeypress="return isNumber(event);" maxlength="2" name="ExpiryDate" id="txtExpiryMonth" placeholder="Month">*@
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control" id="txtExpiryYear" required>
                                                <option value="">Year</option>

                                                @if (ViewBag.Years != null)
                                                {
                                                    foreach (var item in ViewBag.Years)
                                                    {
                                                        string _year = item.ToString();
                                                        _year = _year.Substring(2, 2);
                                                        <option value="@_year">@item</option>

                                                    }
                                                }


                                            </select>
                                            @*<input type="text" class="form-control" onkeypress="return isNumber(event);" maxlength="4" name="ExpiryDate" id="txtExpiryYear" placeholder="Year" />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>CVV <span style="color:red">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <input type="password" class="form-control" onkeypress="return isNumber(event);" placeholder="CVV" maxlength="4" name="CVV" id="txtCVV" required />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Zip Code</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" maxlength="5" name="BillingZipCode" placeholder="Zip Code" id="txtBillingZipCode" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">                                   
                                </div>
                                <div class="col-md-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="IsPrimary" name="IsPrimary" required onchange="" /><span style="font-weight:600">Is Primary</span>
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="row" style="padding-bottom:20px;">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 pull-left">
                                <button class="btn btn-secondary AddBilling" id="btnAddBilling" type="submit">Submit</button>
                                <button class="btn btn-secondary AddBilling" id="btnUpdate" type="submit">Update</button>
                                <a href="/Agent/BillingList" class="btn btn-danger"> Cancel</a>
                            </div>

                        </div>
                    </form>             

            </div>
        </div>
    </div>
</div>










<script>


    $(document).ready(function () {

        $("#btnUpdate").hide();
        //var currentYear = new Date().getFullYear();
        //for (var i = currentYear; i < currentYear + 10; i++) {
        //    $("#txtExpiryYear").append('<option value="' + i.toString() + '">' + i.toString() + '</option>');
        //}


        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };



        var Id = getUrlParameter('AgentBillingId');
        if (Id != undefined) {
            $.ajax({
                method: "POST",
                url: "/Agent/GetAgentBilling",
                dataType: "json",
                data: { AgentBillingId: Id },
                success: function (agentB) {

                    $("#btnAddBilling").hide();
                    $("#btnUpdate").show();
                    $("#txtAgentBillingId").val(agentB.AgentBillingId);
                    $("#txtBillingType").val(agentB.BillingType);
                    $("#txtCardType").val(agentB.CardType);
                    $("#txtCardNumber").val(agentB.CardNumber);
                    var date = agentB.ExpiryDate.split("-");
                    $("#txtExpiryMonth").val(date[0]);
                    $("#txtExpiryYear").val(date[1]);
                    $("#txtCVV").val(agentB.CVV);
                    $("#txtBillingZipCode").val(agentB.BillingZipCode);
                    $("#IsPrimary").val(agentB.IsPrimary);
                    if (agentB.IsPrimary == "1") {
                        $('#IsPrimary').prop('checked', true);
                        $('#IsPrimary').attr('disabled', true);

                    }
                    else {
                        $('#IsPrimary').prop('checked', false);
                    }
                    $("#txtAgentId").val(agentB.AgentId);
                }

            });
        }
    });


    $("#btnAddBilling").on("click", function (e) {


        var isPrimary;
        var check = $('#IsPrimary:checked').val();

        if (check != undefined) {
            isPrimary = 1;
        } else {
            isPrimary = 0;
        }

        var AgentBilling = {
            BillingType: $("#txtBillingType").val(),
            CardType: $("#txtCardType").val(),
            CardNumber: $("#txtCardNumber").val(),
            ExpiryDate: $("#txtExpiryMonth option:selected").val() + "-" + $("#txtExpiryYear option:selected").val(),
            CVV: $("#txtCVV").val(),
            BillingZipCode: $("#txtBillingZipCode").val(),
            IsPrimary: isPrimary,
            AgentId: $("txtAgentId").val()
        };

        if (AgentBilling.BillingType != "" && AgentBilling.CardType != "" && AgentBilling.CardNumber != "" && AgentBilling.ExpiryDate != "" && AgentBilling.CVV != "") {
            e.preventDefault();
            $.ajax({
                method: "POST",
                url: "/Agent/AddBilling",
                dataType: "json",
                data: { agentbilling: AgentBilling },
                success: function (data) {

                    if (data == true) {

                        Swal.fire({
                            title: "Success!",
                            text: "Billing Type added successfully!",
                            type: 'success',
                        }).then(function () {
                            window.location.href = "/Agent/BillingList";
                        })
                    }
                }

            });
        }


    });

    $("#btnUpdate").on("click", function (e) {

        var AgentBilling;
        var isPrimary;
        var check = $('#IsPrimary:checked').val();

        if (check != undefined) {
            isPrimary = 1;
        } else {
            isPrimary = 0;
        }

        AgentBilling = {
            AgentBillingId: $("#txtAgentBillingId").val(),
            BillingType: $("#txtBillingType").val(),
            CardType: $("#txtCardType").val(),
            CardNumber: $("#txtCardNumber").val(),
            ExpiryDate: $("#txtExpiryMonth option:selected").val() + "-" + $("#txtExpiryYear option:selected").val(),
            CVV: $("#txtCVV").val(),
            BillingZipCode: $("#txtBillingZipCode").val(),
            IsPrimary: isPrimary

        };

        if (AgentBilling.BillingType != "" && AgentBilling.CardType != "" && AgentBilling.CardNumber != "" && $("#txtExpiryMonth").val() != "" && $("#txtExpiryYear").val() != "" && AgentBilling.CVV != "") {

            e.preventDefault();
            $.ajax({
                method: "POST",
                url: "/Agent/AddBilling",
                dataType: "json",
                data: { agentbilling: AgentBilling },
                success: function (data) {
                    if (data == true) {

                        Swal.fire({
                            title: "Success!",
                            text: "Billing Type updated successfully!",
                            type: 'success',
                        }).then(function () {
                            window.location.href = "/Agent/BillingList";
                        })
                    }

                }

            });
        }
    });

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
