
@{
    ViewBag.Title = "AgentClients";
    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";
    string agentname = string.Empty;
    if (Request["name"] != null)
    {
        agentname = Request["name"].ToString();
    }
}
<div class="page-header">
    <ol class="breadcrumb pull-right">
        <li><a href="/Dashboard/Admin"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
        <li class="active">&nbsp;Clients</li>

    </ol>
</div>


<div style="padding-top:20px;">

    <div class="portlet portlet-boxed">
        <div class="portlet-header">
            <h4 class="portlet-title">
                <u>Agent : @agentname </u>
            </h4>
        </div> <!-- /.portlet-header -->
        <div class="portlet-body" style="padding-bottom:30px;">
            <div class="table-responsive">
                <table class="table table-bordered" id="AgentList">
                    <thead>
                        <tr>
                            <th>Client Name</th>
                            <th>DOB</th>
                            <th>Address</th>
                            <th>SSN</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                            @*<th>Id Question</th>*@
                            <th>Id UserName</th>
                            @*<th>Id Password</th>*@
                            <th>Security Answer</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.GetClients != null)
                        {
                            foreach (var items in ViewBag.GetClients)
                            {
                                <tr>
                                    <td>@items.FullName</td>
                                    <td>@items.DOB</td>
                                    <td>@items.Address1 <br />@items.Address2<br />@items.City @items.State @items.ZipCode</td>
                                    <td>@items.SSN</td>
                                    <td>@items.CurrentEmail</td>
                                    <td>@items.CurrentPhone </td>
                                    @*<td>@items.IdQuestion</td>*@
                                    <td>@items.IdUserName</td>
                                    @*<td>@items.IdPassword</td>*@
                                    <td>@items.IdAnswer</td>
                                    <td><a href="/Admin/GetChallengesByClientId?agent=@items.AgentId&name=@agentname&ClientId=@items.ClientId">View Challenges</a></td>
                                </tr>
                                }
                            }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        debugger;
        $('#AgentList').DataTable({
            "pagingType": "simple",
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            //"dom": 'Bfrtip',
            // "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            //dom: 'Bflrtip',

            "dom": "<'row'<'col-md-3'l><'col-md-4 col-md-offset-1'B><'col-md-3 pull-right'f>>" +
                "<'row'<'col-md-6'><'col-md-6'>>" +
                "<'row'<'col-md-12't>>" +
                "<'row'<'col-md-4'i><'col-md-8 pull-right'p>>",
            //  "buttons": ['csv', 'pdf', 'print'],
            "buttons": [
                'csv',
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                }
            ]
        });

    })
</script>