
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";
}

<title>Admin Dashboard</title>

<div class="pl-4">
    <div class="col-lg-12">
        <div class="row">
            <div class="divMain">
                <h5>Admin Dashboard</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="portlet portlet-boxed">
                    <div class="portlet-header">
                        <h4 class="portlet-title">
                            <u>Agents List</u>
                        </h4>
                    </div> <!-- /.portlet-header -->
                    <div class="portlet-body" style="padding-bottom:30px;">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="AgentList">
                                <thead>
                                    <tr>
                                        <th>Agency Name</th>
                                        <th>Type of Company</th>
                                        <th># of Staff</th>
                                        <th>Member Since</th>
                                        <th># of Registered Clients</th>
                                        <th>Primary User</th>
                                        <th># of Active Clients</th>
                                        <th>Agency Status</th>
                                        <th>Pricing Plan</th>
                                        <th>Billing Type</th>
                                        <th>Next Billing Date</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.GetBillingDates != null && ViewBag.GetBillingDates.Count > 0)
                                    {
                                        foreach (var items in ViewBag.GetBillingDates)
                                        {
                                    <tr>
                                        <td>@items.BusinessName</td>
                                        <td>@items.TypeOfComp</td>
                                        <td>@items.NumberofStaff</td>
                                        <td>@items.SCreatedDate</td>
                                        <td>@items.RegisteredClients</td>
                                        <td>@items.PrimaryUser <br />@items.BillingEmail<br />@items.BillingPhone</td>
                                        <td>@items.ActiveClients</td>
                                        <td>@items.Status</td>
                                        <td>@items.PricingPlans</td>
                                        <td>@items.BillingType</td>
                                        <td>@items.NextBillingDate</td>
                                    </tr>

                                        }
                                    }


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#AgentList').DataTable({
            "pagingType": "simple",
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        });
    })
</script>


