
@{
    string role = null;
    if (Session["UserRole"] != null)
    {
        role = Session["UserRole"].ToString();
    }
}
@{
    if (role == "admin")
    {
        ViewBag.Title = "Admin";
    }
    else if (role == "investor")
    {
        ViewBag.Title = "Investor";
    }
    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";
}

@if (role == "admin")
{
    <title>Admin Dashboard</title>
}
else if (role == "investor")
{
    <title>Investor Dashboard</title>
}

@*<style>

      .buttons-print {
      background-color: red;
      color: white;
    }
    .buttons-excel {
      background-color: blue;
      color: white;
    }
    </style>*@

<div class="pl-4">
    <div class="col-lg-12">
        <div class="row">
            <div class="divMain">
                @if (role == "admin")
                {
                    <h5 style="padding-left:30px">Admin Dashboard</h5>
                }
                else if (role == "investor")
                {
                    <h5 style="padding-left:30px">Investor Dashboard</h5>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="portlet portlet-boxed">
                    <div class="portlet-header">
                        <h4 class="portlet-title">
                            <u>Agents List</u>
                        </h4>
                    </div> <!-- /.portlet-header -->
                    <div class="portlet-body" style="padding-bottom:30px;">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="AgentList">
                                <thead>
                                    <tr>
                                        <th>Agency Name</th>
                                        <th>Type of Company</th>
                                        <th># of Staff</th>
                                        <th>Member Since</th>
                                        <th># of Registered Clients</th>
                                        <th>Primary User</th>
                                        <th># of Active Clients</th>
                                        <th>Agency Status</th>
                                        <th>Pricing Plan</th>
                                        <th>Billing Type</th>
                                        <th>Next Billing Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.GetBillingDates != null && ViewBag.GetBillingDates.Count > 0)
                                    {
                                        foreach (var items in ViewBag.GetBillingDates)
                                        {
                                            <tr>
                                                <td><a href="/Dashboard/AgentClients?agent=@items.AgentId&name=@items.PrimaryUser">@items.BusinessName</a> </td>
                                                <td>@items.TypeOfComp</td>
                                                <td>@items.NumberofStaff</td>
                                                <td>@items.SCreatedDate</td>
                                                <td>@items.RegisteredClients</td>
                                                <td>@items.PrimaryUser <br />@items.BillingEmail<br />@items.BillingPhone</td>
                                                <td>@items.ActiveClients</td>
                                                <td>@items.Status</td>
                                                <td>@items.PricingPlans</td>
                                                <td>@items.BillingType</td>
                                                <td>@items.NextBillingDate</td>
                                            </tr>

                                        }
                                    }


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
        debugger;
        $('#AgentList').DataTable({
            "pagingType": "simple",
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            //"dom": 'Bfrtip',
            // "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            //dom: 'Bflrtip',

            "dom": "<'row'<'col-md-3'l><'col-md-4 col-md-offset-1'B><'col-md-3 pull-right'f>>" +
                "<'row'<'col-md-6'><'col-md-6'>>" +
                "<'row'<'col-md-12't>>" +
                "<'row'<'col-md-4'i><'col-md-8 pull-right'p>>",
            //  "buttons": ['csv', 'pdf', 'print'],
            "buttons": [
                'csv',
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                }
            ]
        });

    })
</script>




