@model CreditReversal.Models.IdentityIQInfo
@{
    ViewBag.Title = "Identity IQ Information";
    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";
}
<div class="page-header">
    <div style="padding-bottom:10px;">
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="@ViewBag.Dasboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
            <li class="breadcrumb-item active">Add Identity IQ Information </li>
        </ol>
    </div>
</div>

@*<ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="@ViewBag.Dasboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
        <li class="breadcrumb-item active">Add Identity IQ Information </li>
    </ol>*@



<div class="portlet portlet-boxed">
    <div class="portlet-header">
        <h4 class="portlet-title">
            <u>Identity IQ Information</u>
        </h4>

    </div> <!-- /.portlet-header -->
    <div class="portlet-body">
        <div class="row" style="padding-bottom:12px;padding-top:15px;">
            <form method="post">
                <div class="col-md-12">

                    @if (Model.IdentityIqId != null)
                    {
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Question <span style="color:red">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="Question" maxlength="150" id="txtQuestion" value="@Model.Question" required>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Answer <span style="color:red">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="Answer" maxlength="150" id="txtAnswer" value="@Model.Answer" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>
                                        UserName
                                        <span style="color:red">*</span>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" maxlength="50" name="UserName" id="txtUserName" value="@Model.UserName" required>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Password</label><span style="color:red">*</span>
                                </div>
                                <div class="col-md-4">
                                    <input type="password" class="form-control" maxlength="10" name="Password" id="txtPassword" value="@Model.Password" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Confirm Password</label><span style="color:red">*</span>
                                </div>
                                <div class="col-md-4">
                                    <input type="password" class="form-control" maxlength="10" name="tempCPassword" id="tempCPassword" style="display:none">
                                    <input type="password" class="form-control" maxlength="10" name="CfmPassword" id="txtCfmPassword" value="@Model.Password" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <button class="btn btn-secondary AddIdentity" id="btnUpdateIQInfo" type="submit">Update</button>
                                    <a href="/Dashboard/Client" class="btn btn-danger"> Cancel</a>

                                </div>
                            </div>
                        </div>

                    }
                    else
                    {

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Question <span style="color:red">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="Question" maxlength="150" id="txtQuestion" required>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Answer <span style="color:red">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="Answer" maxlength="150" id="txtAnswer" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>
                                        UserName
                                        <span style="color:red">*</span>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" maxlength="50" name="UserName" id="txtUserName" required>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Password</label><span style="color:red">*</span>
                                </div>
                                <div class="col-md-4">
                                    <input type="password" class="form-control" maxlength="10" name="Password" id="txtPassword" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Confirm Password</label><span style="color:red">*</span>
                                </div>
                                <div class="col-md-4">
                                    <input type="password" class="form-control" maxlength="10" name="CfmPassword" id="txtCfmPassword" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">

                                    <button class="btn btn-secondary AddIdentity" id="btnAddIQInfo" type="submit">Submit</button>

                                    <a href="/Dashboard/Client" class="btn btn-danger"> Cancel</a>

                                </div>
                            </div>
                        </div>
                    }
                    <script>
                       @if(ViewBag.Update!=null)
                       {
                            <text>
                        $(document).ready(function () {

                            Swal.fire({
                                title: 'Updated',
                                text: "Identity IQ Information updated successfully!",
                                type: 'success',
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'OK!'
                            }).then(function (isConfirm) {
                                window.location.href = '/Client/IdentityIQInfo';
                                });
                        });
                        </text>
                       }

                        @if (ViewBag.Success != null)
                        {


                         <text>
                        $(document).ready(function () {

                            Swal.fire({
                                title: 'Success',
                                text: "Identity IQ Information inserted successfully!",
                                type: 'success',
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'OK!'
                            }).then(function (isConfirm) {
                                window.location.href = '/Client/IdentityIQInfo';
                                });
                        });
                        </text>

                        }


                    </script>
                </div>
            </form>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {

        //$('#txtCfmPassword').on('blur', function () {
        //    $(this).attr('type', 'password');
        //});
        //$('#txtPassword').on('blur', function () {
        //    $(this).attr('type', 'password');
        //});
        //document.getElementById("txtUserName").value = "";
        //$("#txtUserName").attr('autocomplete', 'off');
        //  $("form").attr('autocomplete', 'off');
        //$("#txtUserName").autocomplete("")
        $("#txtCfmPassword").on("change", function () {
            var pwd = $("#txtPassword").val();
            var cPwd = $("#txtCfmPassword").val();
            if (pwd != cPwd) {
                $("#txtCfmPassword").val("");
                $("#txtCfmPassword").focus();
                Swal.fire("Waning", "Confirm Password not matched with Password", "warning");
                return false;
            }
        });
    });
</script>



