@model CreditReversal.Models.ClientModel
@{

    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";
    string role = null;
    if (Session["UserRole"] != null)
    {
        role = Session["UserRole"].ToString();
        if (role != "admin")
        {
            ViewBag.Title = "Manage Clients";
        }
        else
        {
            ViewBag.Title = "View Clients";
        }
    }
}<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item ml-auto "><a href="@ViewBag.Dasboard"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
    @if (role != "admin")
    {
        <li class="breadcrumb-item active">Manage Clients </li>
    }
    else
    {
        <li class="breadcrumb-item active">View Clients </li>
    }
</ol>
@if (role != "admin")
{
    <title>Manage Clients</title>
}
else
{
    <title>View Clients</title>
}


<link href="~/Content/css/loader.css" rel="stylesheet" />
<div style="padding-top:10px">
    @if (role != "admin")
    {
        <h4 style="padding-top:30px">Manage Clients</h4>
    }
    else
    {
        <h4 style="padding-top:30px">View Clients</h4>
    }

    <div class="col-md-12">
        <div class="row">
            @if (role != "admin")
            {
                <div style="color:red"><strong>Note: Click client name to view Credit Items.</strong></div>
            }
            <div class="pull-right" style="padding-bottom:10px;">
                @if (role != "admin")
                {
                    <a href="/Client/CreateClient" class="btn btn-secondary btn-sm">Add Client</a>
                }
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table id="tblClient" class="table table-bordered">
                    <thead>
                        <tr class="trTable">
                            <th style="cursor: pointer;">
                                Client Name
                            </th>
                            <th style="cursor: pointer;">
                                Email
                            </th>
                            <th> Actions</th>
                        </tr>
                    </thead>
                    @if (ViewBag.Models != null && ViewBag.Models.Count > 0)
                    {
                        <tbody>
                            @foreach (var item in ViewBag.Models)
                            {
                                <tr class="trBody">
                                    <td>
                                        @if (role != "admin")
                                        {
                                            @*<a href="/Client/CreditItems" title="click to view credit items.">@item.FirstName&nbsp;@item.LastName</a>*@

                                            <a href="/Client/CreditItems?ClientId=@item.ClientId" title="click to view credit items.">@item.FirstName&nbsp;@item.LastName</a>
                                        }
                                        else
                                        {
                                            <span>@item.FirstName&nbsp;@item.LastName</span>
                                        }
                                    </td>
                                    <td>
                                        <span>@item.CurrentEmail</span>
                                    </td>
                                    <td>
                                        @if (role != "admin")
                                        {
                                            <a class="btn btn-secondary btn-sm" href="/Client/CreateClient?ClientId=@item.ClientId&Mode=Edit">Edit</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-secondary btn-sm" href="/Client/CreateClient?ClientId=@item.ClientId&Mode=View">View</a>
                                        }

                                        @*<a href="/Client/DeleteClient?ClientId=@item.ClientId" onclick="DeleteClinet()" class="btn btn-secondary btn-sm mb-1">Delete</a>*@
                                        @if (role != "admin")
                                        {
                                            <button type="submit" onclick="btnDelete('@item.ClientId')" class="btn btn-danger btn-sm mb-1">Delete</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
        $('#tblClient').DataTable({
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
        });

    });
    function btnDelete(ClientId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You want delete this client !",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then(function (isConfirm) {
            if (isConfirm.value == true) {
                var serviceURL = '/Client/DeleteClient';
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'ClientId': ClientId },
                    cache: false,
                    dataType: "json",
                });
                window.location = "/Client/index";
            }

        })

    }
</script>
