@model IEnumerable<CreditReversal.Models.Pricing>

@{
    ViewBag.Title = "Manage Pricing";
    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";
}
<div class="page-header">
    @*<h3 class="page-title">Letter </h3>*@
    <ol class="breadcrumb pull-right">
        <li><a href="/Dashboard/Admin"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
        <li active">Manage Pricing </li>
    </ol>
</div>

<div style="padding-top:20px;">
    <div class="portlet portlet-boxed">
        <div class="portlet-header">
            <h4 class="portlet-title">
                Manage Pricing
            </h4>
        </div> <!-- /.portlet-header -->
        <div class="portlet-body">
            <div class="row" style="padding:20px 10px 10px 20px;">

                <div class="row">
                    <div class="pull-right" style="padding-bottom:10px;">
                        <a href="/Admin/Add" class="btn btn-secondary btn-sm">Create Pricing</a>
                    </div>
                </div>
                <div class="row">

                    <div class="table-responsive">
                        <table id="tblCustomers" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PricingType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SetupFee)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PricePerMonth)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AdditionalAgent)
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PricingType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SetupFee)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PricePerMonth)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AdditionalAgent)
                                            </td>
                                            <td>
                                                <a class="btn btn-secondary fa fa-pencil" href="/Admin/Edit?id=@item.PricingId"></a>
                                                @*@Html.ActionLink("Edit","Edit", new { id = item.PricingId }, new { @class = "btn btn-secondary  fa fa-pencil" })*@
                                                <button id="btndelete" class="btn btn-danger" onclick="btnDelete('@item.PricingId');"><i class="fa fa-close"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8" class="text-center"><b>No pricing types</b></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





<script>

    function btnDelete(pricingid) {
        debugger;
        var Id = pricingid;
        Swal.fire({
            title: 'Are you sure?',
            text: "You want delete this pricing!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then(function (isConfirm) {

            if (isConfirm.value == true) {
                debugger;
                window.location.href = "/Admin/Delete/" + pricingid;
            }

        })

    }

</script>





